.navbar-header img {
    max-width: 40px;

}
.navbar-header>a {
    float: left;
    display: inline-block;
}

.logo {
    width: 40px;
    text-align: center;
}

.container>h1 {
    text-align: center;
}

#domain {
    background-color: red;
}

#sslchain_img {
    width: 40px;
    max-width: 40px;
}

#create_certificate {
    border: 1px solid red;
}
